# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Виртуальное окружение
venv/
env/
ENV/
.venv

# Редакторы кода
.vscode/
.idea/
*.swp
*.swo

# Файлы ОС
.DS_Store
Thumbs.db

# Тестирование и покрытие
.pytest_cache/
.coverage
htmlcov/
.tox/

# Мои локальные настройки
*.local
